.form {
  text-align: center;
  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
  }
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 48px;
  .btn {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border-color: #ff9138;
    background-color: #ff9138;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #ff9138;
    }
  }
  .link {
    font-size: 14px;
    margin-top: 8px;
    color: #e73f3f;
  }
}
